package sshd.authz

import input.pull_responses
import input.sysinfo

import data.hosts

# By default, users are not authorized.
default allow = false

# Allow access to any user that has the "admin" role.
allow {
    data.roles["admin"][_] == input.sysinfo.pam_username
}

# Allow access to boks cyberark
allow {
    hosts[pull_responses.files["/etc/host_identity.json"].host_id].bokscyberarkuseronly[_] == sysinfo.pam_username
}

allow {
    data.roles["rhel"][_] == input.sysinfo.pam_username
}

# If the user is not authorized, then include an error message in the response.
errors["Request denied by administrative policy"] {
    not allow
}
